extends layout

block content
    h1 Her kan du se vores udvalg af bøger om #{title}
    table
        thead
            tr
                th Titel
                th Forfatter
                th Forlag
                th Udgave
                th Pris

        tbody
            each webapplikation in webapplikations
                tr 
                    td= webapplikation.titel
                    td= webapplikation.forfatter
                    td= webapplikation.forlag
                    td= webapplikation.udgave
                    td= webapplikation.pris

    div.button-group
        a.button(href="/") Tilbage